html, body, .container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
  font-family: arial;
  text-align: center;
}

.container {
  display: flex;
}

#sidebar {
  background: lightgray;
  width: 320px;
}

#description, #instructions, #data {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#mapContainer {
  flex-grow: 1;
}

.colorDots {
  width: 20px;
  border-radius: 50%;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px
}

#a {
  background: #5EF688;
  margin-bottom: 10px;
}

#b {
  background: #5EF6D4;
}

#c {
  background: #5ECCF6;
}

#d {
  background: #5E80F6;
}

#e {
  background: #885EF6;
}

#f {
  background: #D45EF6;
}

#g {
  background: #7A3B94;
}

.legend {
  display: flex;
  right: 10px;
  z-index: 1;
}
