html, body, .container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
  font-family: arial;
  text-align: center;
}

.container {
  display: flex;
}

#sidebar {
  background: lightgray;
  width: 320px;
}

#description, #instructions, #data {
  margin-top: 20px;
}

#mapContainer {
  flex-grow: 1;
}
